[submodule "Java1"]
	path = Java1
	url = https://PraveenKumarInjam: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@github.com/PraveenKumarInjam/Java1.git
[submodule "tusk"]
	path = tusk
	url = https://PraveenKumarInjam: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@github.com/PraveenKumarInjam/tusk.git
